In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import gc

In [2]:
df_events = pd.read_parquet('data/add_event.parquet', engine="pyarrow")

In [3]:
df_events.head()

       id2     id3    id6                      id4   id7
0  2431360  618619  Tiles  2023-10-22 08:08:17.768  None
1  2431360  363153  Tiles  2023-10-22 08:08:18.921  None
2  2431360   97193  Tiles  2023-10-22 08:08:17.765  None
3  2431360  654444  Tiles  2023-10-22 08:08:17.737  None
4  2431360   32325  Tiles  2023-10-22 08:08:17.812  None

In [4]:
# df_trans = pd.read_parquet('data/add_trans.parquet', engine="pyarrow")

In [5]:
# df_trans.head()

In [6]:
df_offers = pd.read_parquet('data/offer_metadata.parquet', engine="pyarrow")

In [7]:
df_offers.head()

,id3,id9,f375,f376,f377,id10,id11,f378,f374,id8,id12,id13
0,70687,FO5O,2,5.0,None,1,None,N,None,None,2018-01-01 00:00:00,2099-12-31 23:59:59
1,900002526,UGE,2,100.0,None,1,None,N,None,None,2014-10-20 00:00:00,2099-12-31 23:59:59
2,900002864,UTP,1,100.0,None,1,None,N,None,None,2016-07-19 00:00:00,2099-12-31 23:59:59
3,19508,o,2,NaN,None,1,None,N,None,None,2019-06-02 17:00:00,2028-12-31 16:59:59
4,35903,o,2,NaN,None,1,None,N,None,None,2019-06-02 17:00:00,2028-12-31 16:59:59

In [8]:
df_train = pd.read_parquet('data/train_data.parquet', engine="pyarrow")

In [9]:
df_train.head()

,id1,id2,id3,id4,id5,y,f1,f2,f3,f4,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
0,1366776_189706075_16-23_2023-11-02 22:22:00.042,1366776,189706075,2023-11-02 22:22:00.042,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,28.0,0.0,0.0,337.0,0.0,0.0
1,1366776_89227_16-23_2023-11-01 23:51:24.999,1366776,89227,2023-11-01 23:51:24.999,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,87.0,0.0,0.0,1010.0,2.0,0.0019801980198019
2,1366776_35046_16-23_2023-11-01 00:30:59.797,1366776,35046,2023-11-01 00:30:59.797,2023-11-01,0,1.0,None,None,None,...,None,None,0.0,None,23.0,0.0,0.0,1010.0,2.0,0.0019801980198019
3,1366776_6275451_16-23_2023-11-02 22:21:32.261,1366776,6275451,2023-11-02 22:21:32.261,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,277.0,1.0,0.003610108303249,337.0,0.0,0.0
4,1366776_78053_16-23_2023-11-02 22:21:34.799,1366776,78053,2023-11-02 22:21:34.799,2023-11-02,0,1.0,None,None,None,...,None,-9999.0,0.0,None,359.0,0.0,0.0,337.0,0.0,0.0

In [10]:
df_dict = pd.read_csv('data/data_dictionary.csv')

In [11]:
df_dict.head()

  masked_column           Description         Type
0           id1   Primary Key(masked)          Key
1           id2  Customer ID (masked)            -
2           id3              Offer ID  Categorical
3           id4       Event timestamp    Numerical
4           id5            Event Date    Numerical

In [12]:
df_test = pd.read_parquet('data/test_data.parquet', engine="pyarrow")

In [13]:
df_test.head()

,id1,id2,id3,id4,id5,f1,f2,f3,f4,f5,...,f357,f358,f359,f360,f361,f362,f363,f364,f365,f366
46756,1362907_91950_16-23_2023-11-04 18:56:26.000794,1362907,91950,2023-11-04 18:56:26.000794,2023-11-04,None,None,None,None,None,...,0.0027807272790246,0.0465999838670646,0.0,None,1.0,0.0,0.0,56.0,0.0,0.0
57819,1082599_88356_16-23_2023-11-04 06:08:53.373,1082599,88356,2023-11-04 06:08:53.373,2023-11-04,None,9.0,None,None,None,...,0.0014287946777398,0.0603093514970909,0.0,None,195.0,13.0,0.0666666666666666,None,None,None
15390,1888466_958700_16-23_2023-11-05 10:07:28.000725,1888466,958700,2023-11-05 10:07:28.000725,2023-11-05,None,None,None,None,22.0,...,-0.0174961119751166,0.0734836702954899,0.0,None,155.0,67.0,0.432258064516129,1142.0,436.0,0.3817863397548161
145730,1888971_795739_16-23_2023-11-04 12:25:28.244,1888971,795739,2023-11-04 12:25:28.244,2023-11-04,None,None,None,None,None,...,0.0013159476327096,0.040572039549215,0.0,None,None,None,None,None,None,None
146085,1256369_82296_16-23_2023-11-05 06:45:26.657,1256369,82296,2023-11-05 06:45:26.657,2023-11-05,None,None,None,None,None,...,0.0020541699799278,0.038243539079214,0.0,None,29.0,2.0,0.0689655172413793,361.0,3.0,0.0083102493074792

In [14]:
df_train['id4'] = pd.to_datetime(df_train['id4'])
df_test['id4'] = pd.to_datetime(df_test['id4'])
df_train['id5'] = pd.to_datetime(df_train['id5'])
df_test['id5'] = pd.to_datetime(df_test['id5'])

In [15]:
for df in [df_train, df_test]:
    df['hour'] = df['id4'].dt.hour
    df['dayofweek'] = df['id4'].dt.dayofweek
    df['day'] = df['id4'].dt.day
    df['month'] = df['id4'].dt.month
    df['is_weekend'] = df['dayofweek'].isin([5, 6]).astype(int)

In [16]:
# Season encoded (Spring = 0, Summer = 1, etc.)
def season_from_month(m):
    return (m % 12 + 3) // 3

df_train['season'] = df_train['month'].apply(season_from_month)
df_test['season'] = df_test['month'].apply(season_from_month)

In [17]:
df_offers['id13'] = pd.to_datetime(df_offers['id13'])  # End Timestamp
df_offers['id12'] = pd.to_datetime(df_offers['id12'])  # Start Timestamp

In [18]:
df_train['id3'] = df_train['id3'].astype(str)
df_offers['id3'] = df_offers['id3'].astype(str)

In [19]:

df_train = df_train.merge(df_offers[['id3', 'id12', 'id13']], on='id3', how='left')
df_test = df_test.merge(df_offers[['id3', 'id12', 'id13']], on='id3', how='left')

In [20]:
df_train['is_offer_active'] = ((df_train['id4'] >= df_train['id12']) & (df_train['id4'] <= df_train['id13'])).astype(int)
df_test['is_offer_active'] = ((df_test['id4'] >= df_test['id12']) & (df_test['id4'] <= df_test['id13'])).astype(int)

In [21]:
df_train.drop(columns=['id4', 'id5', 'id12', 'id13'], inplace=True, errors='ignore')
df_test.drop(columns=['id4', 'id12', 'id13'], inplace=True, errors='ignore')

In [22]:
df_events['id7'] = pd.to_datetime(df_events['id7'], errors='coerce')
df_events['is_clicked'] = df_events['id7'].notna().astype(int)

offer_ctr = df_events.groupby('id3').agg(
    impressions=('id4', 'count'),
    clicks=('is_clicked', 'sum'),
).reset_index()

offer_ctr['ctr'] = offer_ctr['clicks'] / offer_ctr['impressions']

In [23]:
df_offers['id3'] = df_offers['id3'].astype(str)
offer_ctr['id3'] = offer_ctr['id3'].astype(str)

# Merge CTR
df_offers = df_offers.merge(offer_ctr[['id3', 'ctr', 'impressions', 'clicks']], on='id3', how='left')

In [24]:
df_train = df_train.merge(df_offers[['id3', 'ctr', 'impressions', 'clicks']], on='id3', how='left')
df_test = df_test.merge(df_offers[['id3', 'ctr', 'impressions', 'clicks']], on='id3', how='left')

# Fill NA with 0 where appropriate
for col in ['ctr', 'impressions', 'clicks']:
    df_train[col] = df_train[col].fillna(0)
    df_test[col] = df_test[col].fillna(0)

In [25]:
df_train.fillna(-9999, inplace=True)
df_test.fillna(-9999, inplace=True)

C:\Users\91820\AppData\Local\Temp\ipykernel_21444\3347564025.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_train.fillna(-9999, inplace=True)
C:\Users\91820\AppData\Local\Temp\ipykernel_21444\3347564025.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_test.fillna(-9999, inplace=True)

In [26]:
df_train.head()

,id1,id2,id3,y,f1,f2,f3,f4,f5,f6,...,hour,dayofweek,day,month,is_weekend,season,is_offer_active,ctr,impressions,clicks
0,1366776_189706075_16-23_2023-11-02 22:22:00.042,1366776,189706075,0,1.0,-9999,-9999,-9999,-9999,-9999,...,22,3,2,11,0,4,1,0.059875,18238.0,1092.0
1,1366776_89227_16-23_2023-11-01 23:51:24.999,1366776,89227,0,1.0,-9999,-9999,-9999,-9999,-9999,...,23,2,1,11,0,4,1,0.046487,20780.0,966.0
2,1366776_35046_16-23_2023-11-01 00:30:59.797,1366776,35046,0,1.0,-9999,-9999,-9999,-9999,-9999,...,0,2,1,11,0,4,1,0.041484,18296.0,759.0
3,1366776_6275451_16-23_2023-11-02 22:21:32.261,1366776,6275451,0,1.0,-9999,-9999,-9999,-9999,-9999,...,22,3,2,11,0,4,1,0.042805,18012.0,771.0
4,1366776_78053_16-23_2023-11-02 22:21:34.799,1366776,78053,0,1.0,-9999,-9999,-9999,-9999,-9999,...,22,3,2,11,0,4,1,0.042544,18428.0,784.0

In [27]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss

In [28]:
def mapk(actual, predicted, k=7):
    """
    actual: list of lists, each containing true clicked offer_id3 (strings)
    predicted: list of lists, each containing predicted offer_id3 (strings), ranked
    """
    def apk(a, p, k):
        if len(p) > k:
            p = p[:k]
        score = 0.0
        num_hits = 0.0
        for i, pred in enumerate(p):
            if pred in a and pred not in p[:i]:
                num_hits += 1.0
                score += num_hits / (i + 1.0)
        return score / min(len(a), k)

    return np.mean([apk(a, p, k) for a, p in zip(actual, predicted)])

In [29]:
# Drop unwanted columns
drop_cols = ['id1', 'id4', 'id5', 'y'] if 'id4' in df_train.columns else ['id1', 'id5', 'y']
features = df_train.drop(columns=drop_cols, errors='ignore').columns

# Split for local validation (optional but useful)
X_train, X_val, y_train, y_val = train_test_split(
    df_train[features], df_train['y'], test_size=0.2, random_state=42, stratify=df_train['y']
)

In [30]:
# Identify numeric-looking columns in features
X_train = X_train.apply(pd.to_numeric, errors='coerce')
X_val   = X_val.apply(pd.to_numeric, errors='coerce')

# Optionally fill missing values
X_train.fillna(-9999, inplace=True)
X_val.fillna(-9999, inplace=True)

In [31]:
y_train = pd.to_numeric(y_train, errors='coerce').fillna(0).astype(int)
y_val = pd.to_numeric(y_val, errors='coerce').fillna(0).astype(int)

In [33]:
params = {
    'objective': 'binary',
    'metric': 'binary_logloss',
    'boosting_type': 'gbdt',
    'verbosity': -1,
    'random_state': 42,
    'learning_rate': 0.05,
    'num_leaves': 64,
    'feature_fraction': 0.8,
    'bagging_fraction': 0.8,
    'bagging_freq': 5
}

train_data = lgb.Dataset(X_train, label=y_train)
val_data = lgb.Dataset(X_val, label=y_val)

model = lgb.train(
    params,
    train_data,
    valid_sets=[train_data, val_data],
    num_boost_round=1000,
    callbacks=[
        lgb.early_stopping(stopping_rounds=50),
        lgb.log_evaluation(period=50)
    ]
)

Training until validation scores don't improve for 50 rounds
[50]	training's binary_logloss: 0.0858372	valid_1's binary_logloss: 0.0892651
[100]	training's binary_logloss: 0.0751991	valid_1's binary_logloss: 0.0813504
[150]	training's binary_logloss: 0.0691737	valid_1's binary_logloss: 0.0783223
[200]	training's binary_logloss: 0.0648818	valid_1's binary_logloss: 0.0766879
[250]	training's binary_logloss: 0.0613274	valid_1's binary_logloss: 0.0757092
[300]	training's binary_logloss: 0.0582119	valid_1's binary_logloss: 0.0750695
[350]	training's binary_logloss: 0.0554721	valid_1's binary_logloss: 0.0745447
[400]	training's binary_logloss: 0.0529444	valid_1's binary_logloss: 0.0741956
[450]	training's binary_logloss: 0.050677	valid_1's binary_logloss: 0.073781
[500]	training's binary_logloss: 0.0485852	valid_1's binary_logloss: 0.0735134
[550]	training's binary_logloss: 0.0466734	valid_1's binary_logloss: 0.0733082
[600]	training's binary_logloss: 0.0449595	valid_1's binary_logloss: 0.0730122
[650]	training's binary_logloss: 0.0433143	valid_1's binary_logloss: 0.0728004
[700]	training's binary_logloss: 0.0417342	valid_1's binary_logloss: 0.0725878
[750]	training's binary_logloss: 0.0402101	valid_1's binary_logloss: 0.0724244
[800]	training's binary_logloss: 0.0387748	valid_1's binary_logloss: 0.0723493
[850]	training's binary_logloss: 0.0373173	valid_1's binary_logloss: 0.0722483
[900]	training's binary_logloss: 0.036049	valid_1's binary_logloss: 0.0720771
[950]	training's binary_logloss: 0.0348562	valid_1's binary_logloss: 0.0720549
[1000]	training's binary_logloss: 0.0337097	valid_1's binary_logloss: 0.0720118
Did not meet early stopping. Best iteration is:
[998]	training's binary_logloss: 0.0337465	valid_1's binary_logloss: 0.0720083

In [34]:
# Step 1: Predict probabilities using your binary classifier
y_pred = model.predict(X_val, num_iteration=model.best_iteration)

# Step 2: Construct a validation DataFrame with predictions
df_val_pred = X_val.copy()
df_val_pred['pred'] = y_pred
df_val_pred['clicked'] = y_val.values

# Ensure customer and offer columns are present (adjust if needed)
df_val_pred['customer_id'] = df_train.loc[X_val.index, 'id2'].values
df_val_pred['offer_id'] = df_train.loc[X_val.index, 'id3'].values

def mapk(actual, predicted, k=7):
    return np.mean([
        1.0 / (pred.index(a[0]) + 1) if a and a[0] in pred[:k] else 0
        for a, pred in zip(actual, predicted)
    ])

map7_scores = []
for cust_id, group in df_val_pred.groupby('customer_id'):
    pred_offers = group.sort_values('pred', ascending=False)['offer_id'].tolist()
    actual_y = group[group['clicked'] == 1]['offer_id'].tolist()
    map7_scores.append(mapk([actual_y], [pred_offers]))

map7 = np.mean(map7_scores)
print(f"Binary Classifier MAP@7: {map7:.4f}")

Binary Classifier MAP@7: 0.0479

In [33]:
df_test[features] = df_test[features].apply(pd.to_numeric, errors='coerce')
df_test[features] = df_test[features].fillna(-9999)

In [34]:
df_test['click_proba'] = model.predict(df_test[features], num_iteration=model.best_iteration)

# Rank offers per (customer, date)
df_test['rank'] = df_test.groupby(['id2', 'id5'])['click_proba'].rank(method='first', ascending=False)

# Select top-7
submission = df_test[df_test['rank'] <= 7].copy()

# Format output: each row = 1 customer-date with top 7 offer ids
final = (
    submission
    .sort_values(['id2', 'id5', 'rank'])
    .groupby(['id2', 'id5'])['id3']
    .apply(list)
    .reset_index()
)

/tmp/ipykernel_35/1772286491.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_test['click_proba'] = model.predict(df_test[features], num_iteration=model.best_iteration)
/tmp/ipykernel_35/1772286491.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_test['rank'] = df_test.groupby(['id2', 'id5'])['click_proba'].rank(method='first', ascending=False)